
<blockquote>
<h1>5 Upcoming Technology That May Change The World</h1>

<h4>By Alvaris Falcon in Concept. Updated on January 3, 2019.</h4>

<div>
  <b>Originally published: 26th December 2012</b><br/>
  <p>We have seen great leaps in digital technology in past the past five years. Smartphones, cloud computing, multi-touch tablets, these are all innovations that revolutionized the way we live and work. However, believe it or not, we are just getting started. Technology will get even better. In the future, we could live like how people in science fiction movies did.<br/><br/>

  Today’s post is about 10 upcoming, real-life products that is set to revolutionize the world as we know it. Get ready to control the desktop and slice Ninja fruits with your eyes. Get ready to print your own creative physical product. Get ready to dive into the virtual world, and interact with them. Come unfold the future with us.</p>
  <br/>

  
    <b> 1. Google Glass</b>
      <p>Augmented Reality has already gotten into our life in the forms of simulated experiment and education app, but Google is taking it several steps higher with <a rel="nofollow" target="_blank" href="https://en.wikipedia.org/wiki/Google_Glass">Google Glass</a>. Theoretically, with Google Glass, you are able to view social media feeds, text, Google Maps, as well as navigate with GPS and take photos. You will also get the latest updates while you are on the ground.<br/>

      <br/>

      <b>2. Form 1</b><br/>
      Just as the term suggests, 3D printing is the technology that could forge your digital design into a solid real-life product. It’s nothing new for the advanced mechanical industry, but a personal 3D printer is definitely a revolutionary idea.

      Everybody can create their own physical product based on their custom design, and no approval needed from any giant manufacturer! Even the James Bond’s Aston Martin which was crashed in the movie was a 3D printed product!<br/><a rel="nofollow" target="_blank" href="http://www.kickstarter.com/projects/formlabs/form-1-an-affordable-professional-3d-printer">Form 1</a>is one such personal 3D printer which can be yours at just $2799. It may sound like a high price but to have the luxury of getting producing your own prototypes, that’s a reaonable price.<br/><br/>

      <b> 3. Oculus Rift</b>
      Virtual Reality gaming is here in the form of <a rel="nofollow" target="_blank" href="http://www.kickstarter.com/projects/1523379957/oculus-rift-step-into-the-game">Oculus Rift</a>. This history-defining 3D headset lets you mentally feel that you are actually inside a video game. In the Rift’s virtual world, you could turn your head around with ultra-low latency to view the world in high resolution display.

      There are premium products in the market that can do the same, but Rift wants you to enjoy the experience at only $300, and the package even comes as a development kit. This is the beginning of the revolution for next-generation gaming.<br/><br/>

      <b>4. Leap Motion</b>
      Multi-touch desktop is a (miserably) failed product due to the fact that hands could get very tired with prolonged use, but <a rel="nofollow" target="_blank" href="https://leapmotion.com/">Leap Motion</a> wants to challenge this dark area again with a more advanced idea. It lets you control the desktop with fingers, but without touching the screen.<br/>It’s not your typical motion sensor, as Leap Motion allows you to scroll the web page, zoom in the map and photos, sign documentss and even play a first person shooter game with only hand and finger movements. The smooth reaction is the most crucial key point here. More importantly, you can own this future with just $70, a price of a premium PS3 game title!<br/><br/>

      <b>5. Eye Tribe</b>
      Eye tracking has been actively discussed by technology enthusiasts throughout these years, but it’s really challenging to implement. But <a rel="nofollow" target="_blank" href="http://theeyetribe.com/">Eye Tribe</a> actually did this. They successfully created the technology to allow you to control your tablet, play flight simulator, and even slice fruits in Fruit Ninja only with your eye movements.</p>
  
</div>  
</blockquote>