<html>
<head>
<blockquote class="content">
<h1>Upcoming Technology That May Change The World</h1>

<h4>By Alvaris Falcon in Concept. Updated on January 3, 2019.<br/>
Originally published: 26th December 2012</h4>

</head>
<body>
<div class="info-content">
  
  <p>We have seen great leaps in digital technology in past the past five years. Smartphones, cloud computing, multi-touch tablets, these are all innovations that revolutionized the way we live and work. However, believe it or not, we are just getting started. Technology will get even better. In the future, we could live like how people in science fiction movies did.<br/><br/>

  Today’s post is about the upcoming, real-life <b>products</b> that is set to revolutionize the world as we know it. Get ready to control the desktop and slice Ninja fruits with your eyes. Get ready to print your own creative physical product. Get ready to dive into the virtual world, and interact with them. Come unfold the future with us.</p>
  <br/>

      <% @products.each do |product| %>
        <div>
            <b><%=product.id %>. <%= product.name %></b><br />
            <p><%= product.description %></p><br />
        </div>
 
      <% end %>
</div>  
</blockquote>
</body>
</html>