/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

.content{
  background: image_url('digital4bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
  box-shadow: 0px 3px 8px #2a2a2a;
  max-width: 1200px;
  margin: auto;
}


.info-content{
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  color: white;
  box-shadow: 0px 3px 8px #2a2a2a;
}

.newproductform{
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  color: black;
  box-shadow: 0px 3px 8px #2a2a2a;
  max-width: 1200px;
  margin: auto;
  margin-top: 50px;
}

.btnSubmitProduct{
  text-align:center;
}

h1{
  font-family: "Helvetica Neue", Helvetica;
  color:red;
}
h4{
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 400;
  color: white;
}

a {color:red;}     
a:visited {color:red;}  
a:hover {color:red;}  
a:active {color:red;}