// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content{
  background: image_url('digital4bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
  box-shadow: 0px 3px 8px #2a2a2a;
}

.info-content{
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  color: white;
}

h1{
  font-family: "Helvetica Neue", Helvetica;
  color:red;
}
h4{
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 400;
  color: white;
}

a {color:red;}     
a:visited {color:red;}  
a:hover {color:red;}  
a:active {color:red;}