
<div class="">
    <h1>Enter Product Details that you think will revolutionize our world</h1>

     <%= simple_form_for @product do |f| %>
          <%= f.input :name %>
          <%= f.input :description %>
          <br />
          <%= f.submit 'Submit', class: 'btn btn-primary' %>
      <% end %>
</div>